@model SCUBA_DIVER.Models.ContactInfo
@{
    ViewBag.Title = "Classes";
}

<html>
<head>

    <meta charset="utf-8">

    <title>Classes | Proud Parent of a SCUBA Diver</title>
    <link href="~/css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="mborder mainbox">
        <div class="mborder sub-box-white">
            <div class="mborder header">
                <a href="Index"><img src="~/images/proud_parent300x101.jpg" alt="Proud Parent Image" /></a>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Classes", "Classes", "Home")</li>
                    <li>@Html.ActionLink("Certifications", "Certifications", "Home")</li>
                </ul>
            </div>
            <div class="para">
                <h2>Classes</h2>
                <hr>
                <p> <a class="class-pic"><img src="~/images/swimming1.jpg" alt="Pool Class" title="Pool Class"> </a></p>
                <h1>Request for Scuba Diving Lessions</h1>
                <p class="bio">This is what it's all about - diving. You'll develop basic scuba skills in a pool or in confined water - a body of water with pool-like conditions. The basic skills you learn during your certification course will help you become familiar with your scuba gear and become an underwater explorer. </p>


                <hr>
                <div>
                    <h2>Contact Us</h2>
                    <hr>

                    @using (Html.BeginForm("Classes", "Home", FormMethod.Post))
                    {

                        <table>
                            <tr>
                                <td class="text-format">Name:</td>
                                <td>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "text-format-input-h", @placeholder = "Enter Name", @size = "40", @Type = "text", @required = "required" })
                                    <span id="name"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-format">Email:</td>
                                <td>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "text-format-input-h", @placeholder = "Enter Email", @size = "40", @Type = "email", @required = "required" })
                                    <span id="email"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-format">Subject:</td>
                                <td>
                                    @Html.TextBoxFor(m => m.Subject, new { @class = "text-format-input-h", @placeholder = "Enter Subject", @size = "40", @Type = "text", @required = "required" })
                                    <span id="subject"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-format">Message:</td>
                                <td>
                                    @Html.TextAreaFor(m => m.Message, new { @class = "textarea", @placeholder = "Type your message here...", @required = "required" })
                                    <span id="message"></span>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input id="button" type="submit" value="Submit" name="submit">                                    
                                </td>


                            </tr>
                        </table>

                    }
                </div>

            </div>
        </div>
    </div>
</body>
</html>


